@media only screen and (min-width: 320px) {


    .news-sidebar {
        background-color: $grey;
        padding: 50px 0;
        color: $olive;

        ul {
            margin: 15px 0 50px 50px;
        }

        li {
            list-style-type: none;
        }

        a {
            color: $olive;
        }
        .news-sidebar-title {
            font-family: $font_heading;
            margin: 0 50px 0 50px;
        }

        // .news-sidebar-title-container {
        //     ul > li > a { 
        //      list-style-type: none;
        //     }
        // }
    }
}

@media only screen and (min-width: 1300px) {

    .blog-site-content {
        display: flex;
        flex-direction: row;

        .content-area { 
            flex: 3;
        }

        aside {
            flex: 1;

            ul {
                margin-left: 0;
            }

            h2.news-sidebar-title {
                margin-left: 30px;
            }
        }
    }


}