h1, h2, h3, h4, h5, h6 {
	clear: both;
}


.site-title  {
    
    margin-top: 20%;
    
    a {
        font-family:$font_logo;
        font-weight: bold;
        font-size: 3em;
        text-decoration: none;
    }

}
    
