@media only screen and (min-width: 320px) {

    .column-container {
        display: flex;
        flex-direction: column;
        margin-top: 195px;
    }

    .about-col-1 {
        order: 2;
        padding: 0 30px;
//        background-color: $light-green;
        color: $olive;
    }
    
    .about-col-2 {
        order: 1;
        text-align: center;
        object-fit: contain;
        display: block;
        margin: 0;
    }
}

@media only screen and (min-width: 1000px) {


    .site-flex {
        display: flex;
        flex-direction: row;
    }

    .column-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 0;
        padding-left: 300px;
    }

    .column {
    //    flex: 1;
    }

    .about-col-1 {
        background-color: $light-green;
        width: 40%;
        order: 1;

        p {
            margin: 150px 30px 30px 30px;
            font-family: $font_body;
            font-size: 1.3em;
            line-height: 1.5em;

            a {
                text-decoration: none;
                color: white;
            }
        }

    }

    .about-col-2 {
        width: 60%;
        margin: 0;
        order: 2;

        img {
            display: block;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

    }
}