.gallery-grid {
    margin: 20px auto;
    
    .grid-sizer,
    .item {
        // margin-bottom: 2%;
        // float: left;
        // width: 20%;
    }

    .item {
        margin: 0 0 1% 1%;
        float: left;
    }

    .item--width2 {
        width: 40%;
    }
}
