@media only screen and (min-width: 320px) {

    .art-main {
        margin-top: 205px;
    }

    .gallery-grid {
        margin: 20px auto;
        
        .grid-sizer{
            // margin-bottom: 2%;
            // float: left;
            margin: 0 auto;
            text-align: center;
        }

        .item {
            margin: 0 1% 1% 0;
            display: inline-block;
        }

        .item--width2 {
            width: 40%;
        }
    }

}

@media only screen and (min-width: 1000px) {

    .art-main {
        margin-top: 0;
        margin-left: 300px;
    }

    .gallery-grid .grid-sizer,
    {
        text-align: left;
    }

    .item {
        margin: 0 0 1% 1%;
    }
}