.site-header {
    z-index: 10000; 
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: white;
    border-right: 0.5px solid #eaeaea ;
    margin-right: 50px;
}

.col-sm-10 {
    margin-left: 15%;
    max-width: 86.333333%;
    color: rgba(255, 0, 0, 1);
    
}