// Body reset 

html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%;
} 

// Header styles

.site-header {
    padding-right: 2%;
    background-color: chocolate;
}

.site-title  {
    
    margin-top: 20%;
    
    a {
        font-family:$font_logo;
        font-weight: bold;
        font-size: 3em;
        text-decoration: none;
    }

}

// Main content styles 

.site-main {
    height: 100%;
}