// Main content styles 


.content-area {
    margin-left: 15%;
    height: auto;
    max-width: 90%;
    
    figure > background-image {
        margin: 0 auto;
        position: fixed;
        
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
             
        }

    }
}
