@media only screen and (min-width: 320px) {

    .page-title {
        padding: 10px 20px;
        color: $olive;
        background-color: $light-green;
        font-family: $font_heading;
        display: inline-block;
        border-radius: 5px;
        margin: 50px 0 0 50px;
        

    }

}