@media only screen and (min-width: 320px) {

    
    .web-content-area {
        background-color: rgba(255, 255, 255, 0.2);
        height:100%;
    }
    
    .web-main {
        z-index: 1000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -18%);    
        
        h1 {
            font-family: $font_heading;
            font-size: 3em;
            text-align: center;
            padding: 20px 40px;
            text-transform: uppercase;
            background-color: $beige;
            color: white;
            border-radius: 5px;

            
            a {
                color: white;
                text-decoration: none;
                
                a:hover,
                a:focus,
                a:active {
                    text-decoration: none;
                }
            
            }
        }
        
        p {
            background-color: $beige;
            color: $dark-green;
            text-align: center;
            padding: 10px 40px;
            border-radius: 5px;

            a {
                color: white;
            }

            a:hover,
            a:focus,
            a:active {
                text-decoration: none;
                color: firebrick;
            }
        }

    }
    
}

@media only screen and (min-width: 1000px) and (min-height: 649px){
    
    .web-main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-18%, -90%);
    }
    
}



